body{
    display: block;
    width: 1280px;
    background-color: beige;
    margin: 0px auto;
    align-items: center;
    justify-content:center;
    text-align: center;
}

.banner{
    position: relative;    
}

.banner img{
    width: 1280px;
    padding: auto;
    border-radius: 10px;
}

.titre .galerie img{
    width: 480px;
    height: 320px;
    border-radius: 10px;
    margin: 20px 4% 15px 4%; 
}

.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.armoiries{
    height: 250px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
}

img{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

header{
    position: sticky;
    top: 0;
}

nav{
    display: flex;       
    margin-bottom: 15px;
    width: 1280px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #CCC;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;   
}

nav a{   
    position: sticky;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding : 10px 4% 10px 4%;  
    transition: 0.25s;  
       font-size: 1.5rem;
}

nav a:hover{
    background-color: #A90331;
    border-radius: 10px;
    color: white;
}

.titre{
    font-size: 30px;
    font-family:  Arial,Helvetica,sans-serif;
    text-align: center;
    margin-bottom: 0px;
   background-color: bisque;
    border-radius: 10px 10px 0px 0px;
}

.titre h1{
    font-style: italic;
    color: white;
    background-color: #A90331;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.text h2{
    font-size: 24px;
    font-style: italic;
    font-family:  Arial,Helvetica,sans-serif;
    text-align: center;
    margin: 0px 0px 0px 0px;
    background-color: rgba(158, 143, 124, 0.507);
    padding: 10px 0px 10px 0px;
}

.text{
    background-color:bisque;    
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
}

.text li, p{ 
    font-size: 20px;
    font-family:  Arial,Helvetica,sans-serif;
    text-align: justify;
    margin: 0px 30px 0px 30px;
}

.liens{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 1280px;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #CCC;
    color: rgb(0, 0, 0);   
    border-radius: 10px;
}

.liens a{       
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding : 10px 5% 10px 5%;  
    transition: 0.25s; 
    font-size: 1.5m;    
}

.liens a:hover{
    background-color: #A90331;
    border-radius: 10px;
    color: white;
}

.col a{
    display: flex;
    justify-content: center;
    margin: 0px 100px 15px 100px;
    width: 150px;    
    align-items: center;
    background-color: #CCC;
    color: rgb(0, 0, 0);   
    border-radius: 10px;
    font-size: 1.5rem;
}

/*       Formulaire de contact       */

.formFon{
    padding: 15px 10px 15px 10px;
    background-color: #CCC;
    width: 650px;
    margin: 0px auto;
    border-radius: 10px;
}

.form-group{
    margin-bottom: 15px;
    display: flex;
}

.form-group label{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
    width: 50px;
}

.form-group input{
    position: relative;
    width: 400px;
    left: 100px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.form-group textarea{
    position: relative;
    width: 450px;
    height: 100px;
    left: 100px;
    resize: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #CCC;
}

button{
    width: 100px;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid #CCC;
    transition: 0.25s;
}

button:hover{
    background-color: #A90331;
    color: white;
}

